#root {
    /* width: 900px;
    max-width: 900px; */
    margin: 0 auto;
    /* padding: 0 2rem; */
    text-align: center;
}

.bgImg {
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    /* background-color: rebeccapurple; */
    position: absolute;
    bottom: 0;
    right: 0;
    width: 35vw;
    aspect-ratio: 1000/667;
    display: block;
}
